<!--the header will be the task itself-->
<h2>{{task.text}}</h2>

<div class="task-info">
{{#if task.completed}}
    <p>{{task.text}} was created on {{task.dateCreated}}is completed on {{task.dateCompleted}}</p>
{{else}}
    <p>{{task.text}}was created on {{task.dateCreated}}and is not yet completed</p>
{{/if}}
</div>